In [4]:
age = int(input("Enter the Age:"))

Enter the Age: 19

In [5]:
if (age>18):
    print("Eligible to Vote")
else:
    print(" Not Eligible to Vote")

Eligible to Vote

In [6]:
def max_value(my_list=None):
    my_list = [7,14,38,100,67,85]
    largest_value = max(my_list)
    print("The largest value in the list is:", largest_value)
    list = "Largest Num" ,largest_value
    return list
    
max_value()

The largest value in the list is: 100

('Largest Num', 100)

In [7]:
def Employeer(salary):
    if salary > 50000:
        bonus = salary * 0.10
    else:
        bonus = 0
    return bonus

salary = float(input("Enter the employee's salary: "))
bonus_amount = Employeer(salary)

print("Bonus amount:", bonus_amount)
Employeer(65000)

Enter the employee's salary:  70000

Bonus amount: 7000.0

6500.0

In [8]:
def evenorodd():
    num = int(input("Enter the number:"))
    if(num % 2 == 0):
        print("Even")
    else:
        print("Odd")

evenorodd()

Enter the number: 15

Odd

In [3]:
numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [9]:
mark = int(input("Enter the Student Mark:"))
if (mark> 40):
    print("Pass")
else:
    print("Fail")

Enter the Student Mark: 41

Pass

In [10]:
def Retail_store():
    store = int(input("Enter the total Order:"))
    if store > 100 :
        discount = store * 0.20   
    else:
        discount = 0

    final_amount = store - discount
    return final_amount


Retail_store()

Enter the total Order: 250

200.0

In [11]:
def withdraw(balance):
    amount = float(input("Enter amount to withdraw: "))
    if amount <= balance:
        balance -= amount
        print(" withdrawn successfully.")
        print("Updated balance:", balance)
    else:
        print("Insufficient funds.")
    return balance

balance = 10000
balance = withdraw(balance)

Enter amount to withdraw:  2500

 withdrawn successfully.
Updated balance: 7500.0

In [12]:
year = int(input("Enter the Leap year:"))
if year % 400 ==0:
    print(year,"is a leap Year.")
elif year % 100 == 0:
    print(year,"is not a leap Year.")
elif year % 4 == 0 :
    print ( year,"is a leap Year.")
else:
    print(year,"is not a leap Year.")

Enter the Leap year: 4

4 is a leap Year.

In [13]:
Numbers =[8,15,24,38,56,95]
list=[]
for i in Numbers:
    if i % 2 == 0:
        list.append(i)
print("Even numbers:" , list)

Even numbers: [8, 24, 38, 56]